<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="image-background">
    <div class="container-fluid">
        <header>
            <th:block th:include="~{fragments/navbar}"></th:block>
        </header>
        <main>
            <div class="jumbotron re-background mt-4">
                <h1>Project: Resident Evil</h1>
                <hr color="white">
                <p>Resident Evil is a system that registers virus spreads across the world.</p>
            </div>
        </main>
        <footer>
            <div class="jumbotron re-background mt-4">
                <div class="text-white p-2 text-center">&copy; CopyRight Sanity Web Design Studios 2019. All rights reserved.
                </div>
            </div>
        </footer>
    </div>
</body>
</html>